@font-face {
  font-family: "Oswald";
  src: url("./assets/Oswald-Bold.ttf") format("truetype"),
    url("./assets/Oswald-ExtraLight.ttf") format("truetype"),
    url("./assets/Oswald-Light.ttf") format("truetype"),
    url("./assets/Oswald-Medium.ttf") format("truetype"),
    url("./assets/Oswald-Regular.ttf") format("truetype"),
    url("./assets/Oswald-SemiBold.ttf") format("truetype");
}

:root {
  --background-color: #11001c;
  --background-color-two: #190028;
  --background-color-three: #26262c;
  --font-color-one: #3a015c;
  --font-color-two: #fcfbf4;
  --font-color-three: #960c94;
  --font-color-four: #800b7e;
  font-family: "Oswald";
}

* {
  margin: 0px;
  padding: 0px;
  color: var(--font-color-two);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-two);
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px 10%;
  background-color: var(--background-color);
  color: var(--font-color-two);
  position: fixed;
  box-shadow: 0px 0px 5px yellow;
}

header div {
  display: flex;
}

header nav button {
  background-color: rgba(300, 300, 300, 0);
  border: 0px;
  font-size: 18px;
  margin: 0px 5px;
}

header div img {
  height: 50px;
}

/* general styles*/
#content {
  width: 100%;
}

.selected {
  font-weight: 600;
  box-shadow: 0px 1px 0px yellow;
}

/* Homepage styles */
#content div .block:nth-child(1) img {
  height: 80%;
  box-shadow: 0px 0px 5px yellow;
}

#content div .block:nth-child(n) {
  padding: 40px 0px;
}

#content div .block:nth-child(1) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: max(95vh);
}

#content div .block:nth-child(1) h2 {
  width: 500px;
  font-size: 52px;
}

#content div .block:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
}

#content div .block:nth-child(2) div {
  height: 200px;
  width: 300px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 22px;
  background-color: var(--background-color-three);
  box-shadow: 0px 0px 5px yellow;
}

#content div .block:nth-child(3) div {
  height: 300px;
  width: 40%;
  padding: 15px 30px;
  font-size: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  font-style: italic;
  box-shadow: 0px 0px 5px yellow;
}

#content div .block:nth-child(3) div p:nth-child(2) {
  margin-top: 15px;
  font-size: 18px;
  font-style: normal;
}

#content div .block:nth-child(3) div:nth-child(1) {
  margin-left: 10%;
}

#content div .block:nth-child(3) div:nth-child(2) {
  margin-left: 50%;
  margin-top: -10%;
}

#content div .block:nth-child(2) div img {
  height: 70px;
  width: 70px;
}

.block:nth-child(even) {
  background-color: var(--background-color);
}

/* Menu Styles */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu h2 {
  margin-top: 100px;
  font-size: 45px;
}

.menu div {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 30px;
  justify-content: center;
  box-shadow: 0px 0px 5px yellow;
  padding: 30px;
  background-color: var(--background-color);
  margin-top: 2%;
  margin-bottom: 5%;
}

.menu div div {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: var(--background-color-three);
  box-shadow: 0px 0px 0px yellow;
  border-radius: 12px;
  margin-bottom: 0px;
  font-size: 20px;
}

.menu div div img {
  height: 70px;
  width: 70px;
  background-color: var(--font-color-two);
  border-radius: 50%;
}

/* about page styles */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about div {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 4%;
  background-color: var(--background-color);
  padding: 30px;
  box-shadow: 0px 0px 5px yellow;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  font-size: 45px;
  margin-top: 100px;
}

.about div .about-block {
  padding: 0px;
  margin: 0px;
  width: 95%;
  display: inline;
  box-shadow: none;
}

.about h3 {
  margin-top: 10px;
  text-align: center;
}

.about p {
  margin-top: 5px;
  text-indent: 2rem;
  font-size: 1.1rem;
  /* color: gray; */
  /* font-style:oblique; */
}

.about img {
  height: 400px;
  width: 400px;
  box-shadow: 0px 0px 5px yellow;
  margin: 0 2rem 2rem 0;
  float: left;
}

.about-block img:nth-child(n + 2) {
    float: right;
    width: 300px;
    margin: 2rem 0 0 2rem;
}

.about .about-block img:nth-child(2) {
  /* width: 20px; */
}

/* footer styles */
footer {
  width: 80%;
  padding: 30px 10%;
  display: flex;
  /* justify-content: space-around; */
  background-color: var(--background-color);
}

footer div:nth-child(n + 2) {
  margin-left: 10%;
}

footer div ul li {
  list-style: none;
  margin-top: 2px;
}

footer div:nth-child(3) ul {
  display: flex;
}

footer div:nth-child(3) ul li {
  background-color: var(--font-color-two);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  margin-right: 10px;
  box-shadow: 0px 0px 4px yellow;
}

footer div ul li img {
  height: 25px;
  width: 25px;
}

a {
  text-decoration: none;
}
